td{
  line-height: 35.5px;
}

::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background-color: #f0f0f0;
}
::-webkit-scrollbar-thumb{
  background-color: black;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #0075ff;
}

