<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-lg col-md-3 col-sm-2"></div>
    <div class="col-lg col-md-6 col-sm-8">
      <div class="card shadow">
        <div class="card-body">
          <form class="mb-2">
            <div class="mb-3">
              <h4 class="text-dark text-muted">Login</h4>
            </div>
            <div class="mb-3">
              <label for="email-input" class="form-label">Email</label>
              <input type="email" id="email-input" class="form-control" autocomplete="disabled" name="email" [(ngModel)]="email">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                name="password"
                [(ngModel)]="password"
                autocomplete="current-password"
              >
            </div>
            <button type="button" class="btn btn-info" (click)="login()">Login</button>
            <div class="row">
              <div class="col-lg-6 my-2 my-lg-1" >
                <a
                  href="https://ahmad-ben.github.io/Angular-Bootstrap-Firebase/register"
                  style="text-decoration: none; cursor: pointer;"
                >Need Account ? <span class="text-danger">Register</span></a>
              </div>
              <div class="col-lg-6 my-lg-1">
                <a
                  routerLink="/forgot-password" class="text-dark"
                  style="text-decoration: none; cursor: pointer;"
                >Forget Password ?</a>
              </div>
            </div>
          </form>
          <a style="text-decoration: none; cursor: pointer;" (click)="signUpWithGoogle()">
          <div class="card mx-5 sign-google">
            <div class="card-body shadow d-flex justify-content-center align-items-center">
              <img src="../../../assets/Imgs/googleImg.png" style="width: 20px;" alt="">
              <span class="text-dark mx-2">Sign Up With Google</span>
            </div>
          </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg col-md-3 col-sm-2"></div>
  </div>
</div>
